RABBIT_USER=
RABBIT_PASS=
ASPNETCORE_ENVIRONMENT=
ALLOWED_ORIGIN_STRING=
POSTGRES_USER=
POSTGRES_PASS=
DB_CONNECTION_STRING_NUMBERGENERATOR=
GRAFANA_USER=
GRAFANA_PASS=
KEYCLOAK_USER=
KEYCLOAK_PASS=
OPENID_AUTHORITY=
OPENID_AUTHORITY_PRIVATE=
OPENID_CLIENT_ID=
OPENID_CLIENT_SECRET=