<app-navbar-component />
<div class="container mt-5">
  <div class="row">
    <div class="col shadow bg-body-secondary">
      <div class="row shadow mb-4">
        <div class="d-flex justify-content-between p-3">
          <p class="m-0">Tokens: 1678</p>
          <p class="m-0">Cost: 567</p>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center gap-3 mb-4">
        <app-numberfield-component [numberstring]="randomNumber()"></app-numberfield-component>
        <div class="mt-2">
          @if (loadingNumber) {
            <button class="btn btn-light" disabled>Generating</button>
          } @else {
            <button class="btn btn-light" (click)="postAsync()">Generate</button>
          }
        </div>
      </div>
      <div class="row mt-4">
        <div class="d-flex p-3 w-25 gap-3">
          <label for="digits">Digits:</label>
          <input
            type="number"
            [formField]="numbergeneratorForm.digits"
            (change)="setRandomNumber()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
        <div class="col shadow bg-body-secondary">
      <div class="row shadow mb-4">
        <div class="d-flex justify-content-between p-3">
          <p class="m-0">History</p>
        </div>

      </div>
              @if (numbers != null && numbers().length > 0) {
        @for (generatedNumber of numbers(); track generatedNumber.id) {
          <div
            class="border-start border-end d-flex align-items-center justify-content-between gap-4 mb-2 p-4"
          >
            <p class="m-0">{{ generatedNumber.generatedAt.split('T')[0] }}</p>
            <app-numberfield-component
              [numberstring]="generatedNumber.value.toString()"
            ></app-numberfield-component>
            <button (click)="deleteNumberAsync(generatedNumber.id)" class="btn btn-danger">
              delete
            </button>
          </div>
        }
      } @else {
        <p class="text-center p-3">No numbers generated yet.</p>
      }
      </div>
  </div>
</div>
